
<style>
  .v_header_back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #3A6592;
    color: #fff;
  }
  .v_header_back .lft {
    width: 20%;
    height: 50%;
    background-image: url(../../assets/imgs/back/title.gif);
    background-repeat: no-repeat;
    margin-left: 1px;
  }
  .v_header_back .mid {
    flex-grow: 1;
    margin-left: 10%;
  }
  .v_header_back a {
    color: #fff;
    text-decoration: none;
  }
  .v_header_back .rit {
    margin-right: 1em;
  }
</style>

<section class="v_header_back"> 
  <div class="lft"> </div>
  <div class="mid"> 
    <div class=""> 19年12月1日 星期天 </div>
    <div class=""> xx </div>
  </div>
  <div class="rit"> 
    [<a href="/pages/home">网站首页</a>]
    [<a href="javascript:;">安全退出</a>]
  </div>
</section>

<script type="text/javascript">
  
</script>