
#header {
  height: 165px;
  background-image: url(../../assets/imgs/banner.gif);
  background-repeat: no-repeat;
}


#menu {
  display: flex;
  justify-content: center;
  padding: 5px 0; 
  margin: 5px 0; 
  background-color: #D2E4FC;
}
#menu .item {
  cursor: pointer;
}
#menu .item::after {
  content: "|";
  padding: 0 0.2em;
}
#menu .item:last-child::after {
  display: none;
}


#novels { }
#novels .head { 
  background-color: #D2E4FC;
  padding: 5px 1em;
}
#novels .wrap { 
  display: flex; 
  flex-wrap: wrap;
}
#novels .itemWp { 
  box-sizing: border-box;
  padding: 1.2% 1%;
  width: 25%;
  height: 220px;
  cursor: pointer;
}
#novels .item { 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
