
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.tips {
  background-color: #BED2EB; 
  color: #fff;
  font-weight: bold;
  padding: 5px 2em;
}

#body {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}
#body .menu {
  width: 18%;
  flex-shrink: 0;
}
#body .main {
  flex-grow: 1;
}


